<mat-toolbar class="galaxy-navbar" *ngIf="!isWelcomePage">
    <div class="navbar-left">
        <span class="logo">CineGalaxy</span>
    </div>
    <div class="navbar-right">
        <ng-container *ngIf="isLoggedIn">
            <button mat-button class="nav-button" routerLink="/movies">
                <mat-icon>movie</mat-icon>
                Movies
            </button>
            <button mat-button class="nav-button" routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                Profile
            </button>
            <button mat-button class="nav-button" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </ng-container>
    </div>
</mat-toolbar>