<div class="movie-card-container">
    <mat-card *ngFor="let movie of filteredMovies" class="movie-card">
        <img mat-card-image [src]="movie.ImageUrl || 'default-image-url.png'" alt="{{ movie.Title }}"
            class="movie-card-image">
        <mat-card-content class="movie-card-content">
            <div class="movie-card-header">
                <h2 class="movie-title">{{ movie.Title }}</h2>
            </div>
            <p class="movie-description">{{ movie.Description }}</p>
            <div class="movie-details">
                <p><strong>Year:</strong> {{ movie.Year }}</p>
                <p><strong>Rating:</strong> {{ movie.Rating }}</p>
                <p><strong>Genre:</strong> {{ movie.Genre.Name }}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="warn" (click)="toggleFavorite(movie._id)">
                <mat-icon [ngClass]="{'favorite': isFavorite(movie._id)}">
                    {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>