<mat-card class="registration-card">
    <mat-card-header>
        <mat-card-title class="form-title">Join CineGalaxy Today</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="registration-form" #registrationForm="ngForm" (ngSubmit)="registerUser()" novalidate>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="userData.Username" name="Username" placeholder="Choose a unique username"
                    type="text" required minlength="4" #username="ngModel">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                    {{username.errors?.['required'] ? 'Username is required.' : ''}}
                    {{username.errors?.['minlength'] ? 'Minimum 4 characters required.' : ''}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="userData.Password" name="Password" placeholder="Create a strong password"
                    type="password" required minlength="6" #password="ngModel">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                    {{password.errors?.['required'] ? 'Password is required.' : ''}}
                    {{password.errors?.['minlength'] ? 'Minimum 6 characters required.' : ''}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="userData.Email" name="Email" placeholder="Enter your email address"
                    type="email" required email #email="ngModel">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                    {{email.errors?.['required'] ? 'Email is required.' : ''}}
                    {{email.errors?.['email'] ? 'Enter a valid email address.' : ''}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Birthday</mat-label>
                <input matInput [(ngModel)]="userData.Birthday" name="Birthday" placeholder="Select your birthday"
                    type="date" required #birthday="ngModel">
                <mat-icon matSuffix>cake</mat-icon>
                <mat-error *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
                    Birthday is required.
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="registerUser()" color="primary"  class="submit-button" [disabled]="registrationForm.invalid"
            type="submit">
            Sign Up
        </button>
    </mat-card-actions>