<mat-card class="profile-card">
    <mat-card-header>
        <mat-card-title class="profile-title">Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- Display Current Username -->
        <div class="current-info">
            <p><strong>Current Username:</strong> {{userData.Username}}</p>
        </div>

        <!-- Section for Updating Username -->
        <mat-card class="update-username-card">
            <mat-card-header>
                <mat-card-title>Update Username</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="profile-form" (ngSubmit)="updateUsername()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>New Username</mat-label>
                        <input matInput [(ngModel)]="newUsername" placeholder="Enter new username" type="text"
                            name="newUsername" required>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" class="profile-button">Update
                        Username</button>
                </form>
            </mat-card-content>
        </mat-card>

        <!-- Section for Deleting Account -->
        <mat-card class="delete-account-card">
            <mat-card-header>
                <mat-card-title>Delete Account</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="profile-form" (ngSubmit)="deleteUser()">
                    <p class="warning-text">Are you sure you want to delete your account? This action cannot be undone.
                    </p>
                    <button mat-raised-button type="submit" color="warn" class="profile-button">Delete Account</button>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>